/* Write your code here: */
/* group combine selector 
use while selecting two or more different selectors.*/
h1, h2{
    color: blueviolet;
}

/* parent combine selector 
works only one generation down child doen't works on grandchild etc.*/
.box>p{
    color: firebrick;
}

/* decendant combine selector
works on many generation down as well. */
.box li{
    color: blue;
}

/* chaining combine selector 
use when */
li.done{
    color: seagreen;
}

/* combining combiners selector */
ul p.done{
    font-size: 0.5rem;
}  